<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <img src="../../Img/LogoCompleta2.png" alt="Logo" />
    </div>

    <a href="../Home/home.html" class="menu-item">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    

    <a href="../TicketCalls/ticketcalls.html" class="menu-item">
        <i class="fas fa-ticket-alt" style="color: rgb(197, 160, 57)"></i>
        <span>Chamados</span>
    </a>

    <div class="menu-item has-submenu">
        <i class="fas fa-pen"></i>
        <span id="cadastro-toggle">Cadastro</span>
        <i class="fas fa-chevron-down" id="dropdown-icon" style="margin-left: auto;"></i>
        <div class="submenu" id="submenu">
            <a href="../ClassRegister/class-register.html">Cadastro de Sala</a>
            <a href="../BlockRegister/block-register.html">Cadastro de Bloco</a>
            <a href="../MachineRegister/machine-register.html">Cadastro de Máquina</a>
        </div>
    </div>

    <a href="../Configuration/configuration.html" class="menu-item">
        <i class="fas fa-cog"></i>
        <span>Configurações</span>
    </div>
</div>
